*{
    
 align-items: center;
 text-decoration: none;
transition: 0.5s;
align-items: center;
box-shadow: 10px 10px 10px black;
transition-delay: 0.5s;
font-weight: 100;
cursor: pointer;
justify-content: space-around;
padding: 24px;

min-width: 50%;
box-sizing: border-box;
margin-bottom: space-around;
align-items: center;
height: 50px;
box-sizing: border-box;
justify-content: space-between;
justify-content: end;
align-items: end;
column-gap: 2em;
margin-right: 24px;
border-radius: 16px;
background-color: #A7BBC7;
text-align: center;
justify-content: center;
align-items: center;
justify-content: space-between;
height: 150px;

}